<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHum4jRhh8_4KTANzm15bdg17qVLBhOPw</string>
	<key>GCM_SENDER_ID</key>
	<string>927056489452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.learn.com.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-13821</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-13821.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927056489452:ios:ce9723763b9b185deaaec9</string>
</dict>
</plist>